<md-dialog aria-label="Add a {{ deviceType }}">
    <form>
        <md-toolbar>
           <div class="md-toolbar-tools">
               <h2>Add a {{ deviceType }}</h2>
               <span flex />
               <md-button class="md-icon-button" ng-click="cancel()">
                   <md-icon md-font-icon="close" aria-label="Close"></md-icon>
               </md-button>
           </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h1>Add some devices</h1>
                <p>Some device data</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex />
            <md-button ng-click="add()">Add Device</md-button>
            <md-button ng-click="close()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
