<div layout="row">
    <div flex="33" layout="column">
        <h2>Learn about the FUB</h2>
        <ul>
            <li>Introduction 1</li>
            <li>Introduction 2</li>
            <li>Introduction 3</li>
        </ul>
    </div>
    <div flex="33" layout="column">
        <h2>Quickstart Guide</h2>
        <ul>
            <li>Quickstart 1</li>
            <li>Quickstart 2</li>
            <li>Quickstart 3</li>
        </ul>
    </div>
    <div flex="33" layout="column">
        <h2>Doing more with Firebase</h2>
        <ul>
            <li>Firebase 1</li>
            <li>Firebase 2</li>
            <li>Firebase 3</li>
        </ul>
    </div>
</div>
<div layout="row">
    <p>
        Jump to <a href="">more documentation</a>, <a href="">more examples</a>, or the <a href="">API documentation</a>.
    </p>
</div>
