<div layout="row">
    <div flex="33" layout="column">
        <h2>Device 1</h2>
        <ul>
            <li>Value 1</li>
            <li>Value 2</li>
            <li>Value 3</li>
        </ul>
    </div>
    <div flex="33" layout="column">
        <h2>Device 2</h2>
        <ul>
            <li>Value 1</li>
            <li>Value 2</li>
            <li>Value 3</li>
        </ul>
    </div>
    <div flex="33" layout="column">
        <h2>Device 3</h2>
        <ul>
            <li>Value 1</li>
            <li>Value 2</li>
            <li>Value 3</li>
        </ul>
    </div>
</div>
